<form hx-post="/form" hx-target="#result" hx-swap="outerHTML">
  <label for="name">Name</label>
  <input id="name" name="name" type="text" placeholder="Name" />
  <button>Submit</button>
</form>

<h2>Result</h2>
<div id="result"></div>